<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.qingquanlv.testflow_service_api.mapper.FeatureCaseMapper">
<!--    <resultMap id="FeatureCase" type="com.github.qingquanlv.testflow_service_api.entity.testflow_service_db.FeatureCase">-->
<!--        <result column="id" jdbcType="BIGINT" property="id" />-->
<!--        <result column="feature_id" jdbcType="BIGINT" property="feature_id" />-->
<!--        <result column="case_id" jdbcType="BIGINT" property="case_id" />-->
<!--        <result column="case_type" jdbcType="VARCHAR" property="case_name" />-->
<!--        <result column="datachanged_lasttime" jdbcType="TIMESTAMP" property="datachanged_lasttime" />-->
<!--    </resultMap>-->

<!--    <select id="Sel" resultType="com.github.qingquanlv.testflow_service_api.entity.testflow_service_db.FeatureCase">-->
<!--        SELECT * FROM testflow_service.database_case where case_id = #{id}-->
<!--    </select>-->

<!--    <select id="SelByFId" resultType="com.github.qingquanlv.testflow_service_api.entity.testflow_service_db.FeatureCase">-->
<!--        SELECT * FROM testflow_service.feature_case where feature_id = #{id}-->
<!--    </select>-->

<!--    <delete id="Del"  parameterType="java.lang.Long">-->
<!--        DELETE FROM feature_case where feature_id = #{id}-->
<!--    </delete>-->

<!--    <delete id="DelByFId" >-->
<!--        DELETE FROM feature_case-->
<!--        where id in-->
<!--        <foreach collection="collection" index="index" item="item" open="(" separator="," close=")">-->
<!--            #{item}-->
<!--        </foreach>-->
<!--    </delete>-->

<!--    <insert id="Ins" parameterType="java.util.List" useGeneratedKeys="true" keyColumn="id" keyProperty="id">-->
<!--        insert into feature_case-->
<!--            (feature_id,case_id,case_type)-->
<!--        values-->
<!--        <foreach collection="list" item="item" index="index" separator=",">-->
<!--            (-->
<!--            #{item.feature_id},-->
<!--            #{item.case_id},-->
<!--            #{item.case_type}-->
<!--            )-->
<!--        </foreach>-->
<!--    </insert>-->

<!--    <insert id="InsOne" parameterType="com.github.qingquanlv.testflow_service_api.entity.testflow_service_db.FeatureCase" useGeneratedKeys="true" keyColumn="id" keyProperty="id">-->
<!--        insert into feature_case-->
<!--        (feature_id,case_id,case_type)-->
<!--        values-->
<!--            (-->
<!--            #{feature_id},-->
<!--            #{case_id},-->
<!--            #{case_type}-->
<!--            )-->
<!--    </insert>-->

<!--    <update id="Upd" parameterType="com.github.qingquanlv.testflow_service_api.entity.testflow_service_db.FeatureCase">-->
<!--        SELECT * FROM testflow_service.database_case where case_id = #{id}-->
<!--    </update>-->
</mapper>