<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.qingquanlv.testflow_service_api.mapper.FeatureMapper">
    <resultMap id="Feature" type="com.github.qingquanlv.testflow_service_api.entity.testflow_service_db.Feature">
        <result column="feature_id" jdbcType="BIGINT" property="case_id" />
        <result column="feature_name" jdbcType="VARCHAR" property="case_name" />
        <result column="parameter_name" jdbcType="VARCHAR" property="parameter_name" />
        <result column="desctription" jdbcType="VARCHAR" property="desctription" />
        <result column="datachanged_lasttime" jdbcType="TIMESTAMP" property="datachanged_lasttime" />
    </resultMap>

    <select id="SelAll" resultType="com.github.qingquanlv.testflow_service_api.entity.testflow_service_db.Feature">
        SELECT * FROM feature
    </select>

    <select id="SelByName" parameterType="java.lang.String" resultType="com.github.qingquanlv.testflow_service_api.entity.testflow_service_db.Feature">
        SELECT * FROM feature where feature_name = #{name}
    </select>

    <select id="Sel" parameterType="java.lang.Long" resultType="com.github.qingquanlv.testflow_service_api.entity.testflow_service_db.Feature">
        SELECT * FROM feature where feature_id = #{Id}
    </select>

    <delete id="Del" parameterType="java.lang.Long">
        DELETE FROM feature WHERE feature_id = #{id}
    </delete>

    <insert id="Ins" parameterType="com.github.qingquanlv.testflow_service_api.entity.testflow_service_db.Feature" useGeneratedKeys="true" keyColumn="feature_id" keyProperty="feature_id">
        INSERT INTO
        feature
        (feature_name)
        VALUES
        (#{feature_name})
    </insert>

    <update id="Upd" parameterType="com.github.qingquanlv.testflow_service_api.entity.testflow_service_db.Feature">
        SELECT * FROM feature where feature_id = #{id}
    </update>

</mapper>