<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.qingquanlv.testflow_service_api.mapper.FeatureResultMapper">
    <resultMap id="FeatureResult" type="com.github.qingquanlv.testflow_service_api.entity.testflow_service_db.FeatureResult">
        <result column="feature_result_id" jdbcType="BIGINT" property="feature_result_id" />
        <result column="feature_id" jdbcType="BIGINT" property="feature_id" />
        <result column="task_id" jdbcType="BIGINT" property="task_id" />
        <result column="parameter_value_index" jdbcType="BIGINT" property="parameter_value_index" />
        <result column="logs" jdbcType="VARCHAR" property="logs" />
        <result column="assertions" jdbcType="VARCHAR" property="assertions" />
        <result column="datachanged_lasttime" jdbcType="TIMESTAMP" property="datachanged_lasttime" />
    </resultMap>

    <select id="selAll" resultType="com.github.qingquanlv.testflow_service_api.entity.testflow_service_db.FeatureResult">
        SELECT * FROM feature_result
    </select>

    <select id="selByTidSid" resultType="com.github.qingquanlv.testflow_service_api.entity.testflow_service_db.FeatureResult">
        SELECT * FROM testflow_service.feature_result where task_id = #{taskId} and parameter_value_index = #{stepId} limit 1
    </select>

    <select id="selByTid" parameterType="java.lang.Long" resultType="com.github.qingquanlv.testflow_service_api.entity.testflow_service_db.FeatureResult">
        SELECT * FROM testflow_service.feature_result where task_id = #{Id}
    </select>

    <insert id="ins" parameterType="com.github.qingquanlv.testflow_service_api.entity.testflow_service_db.FeatureResult" useGeneratedKeys="true" keyColumn="feature_result_id" keyProperty="feature_result_id">
        INSERT INTO
        feature_result
        (feature_id, task_id, parameter_value_index, logs, assertions)
        VALUES
        (
            #{feature_id},
            #{task_id},
            #{parameter_value_index},
            #{logs},
            #{assertions}
        )
    </insert>

    <insert id="insList" parameterType="java.util.List" useGeneratedKeys="true" keyColumn="feature_result_id" keyProperty="feature_result_id">
        INSERT INTO
            feature_result
        (feature_id, task_id, parameter_value_index, logs, assertions)
            values
        <foreach collection="list" item="item" index="index" separator=",">
            (
            #{item.feature_id},
            #{item.task_id},
            #{item.parameter_value_index},
            #{item.logs},
            #{item.assertions}
            )
        </foreach>
    </insert>

</mapper>