<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.qingquanlv.testflow_service_api.mapper.FeatureMapper">
    <resultMap id="Feature" type="com.github.qingquanlv.testflow_service_api.entity.testflow_service_db.Feature">
        <result column="feature_id" jdbcType="BIGINT" property="case_id" />
        <result column="feature_name" jdbcType="VARCHAR" property="case_name" />
        <result column="datachanged_lasttime" jdbcType="TIMESTAMP" property="datachanged_lasttime" />
    </resultMap>

    <select id="Sel" resultType="com.github.qingquanlv.testflow_service_api.entity.testflow_service_db.Feature">
        SELECT * FROM feature where feature_name = #{name}
    </select>

    <delete id="Del" >
        DELETE FROM testflow_service.database_case where case_id = #{id}
    </delete>

    <insert id="Insert" parameterType="com.github.qingquanlv.testflow_service_api.entity.testflow_service_db.Feature" >
        INSERT INTO
        feature
        (feature_name)
        VALUES
        (#{feature_name})
    </insert>

    <update id="Update" parameterType="com.github.qingquanlv.testflow_service_api.entity.testflow_service_db.Feature">
        SELECT * FROM testflow_service.database_case where case_id = #{id}
    </update>

</mapper>