<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.qingquanlv.testflow_service_api.mapper.RequestCaseMapper">
    <resultMap id="RequestCase" type="com.github.qingquanlv.testflow_service_api.entity.testflow_service_db.RequestCase">
        <result column="case_id" jdbcType="BIGINT" property="case_id" />
        <result column="case_name" jdbcType="VARCHAR" property="case_name" />
        <result column="url" jdbcType="VARCHAR" property="url" />
        <result column="request_body" jdbcType="VARCHAR" property="request_body" />
        <result column="request_type" jdbcType="VARCHAR" property="request_type" />
        <result column="content_type" jdbcType="VARCHAR" property="content_type" />
        <result column="request_headers" jdbcType="VARCHAR" property="request_headers" />
        <result column="request_configs" jdbcType="VARCHAR" property="request_configs" />
        <result column="datachanged_lasttime" jdbcType="TIMESTAMP" property="datachanged_lasttime" />
    </resultMap>

    <select id="Sel" parameterType="java.lang.String" resultType="com.github.qingquanlv.testflow_service_api.entity.testflow_service_db.RequestCase">
        SELECT * FROM request_case where case_name = #{name}
    </select>

    <select id="SelList"  resultType="com.github.qingquanlv.testflow_service_api.entity.testflow_service_db.RequestCase">
        SELECT * FROM testflow_service.request_case
        where case_id in
        <foreach collection="collection" index="index" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>

    <select id="SelOne" resultType="com.github.qingquanlv.testflow_service_api.entity.testflow_service_db.RequestCase">
        SELECT * FROM testflow_service.request_case where case_id = #{id}
    </select>

    <delete id="Del" >
        DELETE FROM request_case
        where case_id in
        <foreach collection="collection" index="index" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </delete>

    <insert id="Ins" parameterType="java.util.List" useGeneratedKeys="true" keyColumn="case_id" keyProperty="case_id">
        insert into request_case
        ( case_name,url,request_body,request_type,content_type,request_headers,request_configs)
        values
        <foreach collection="list" item="item" index="index" separator=",">
            (
            #{item.case_name},
            #{item.url},
            #{item.request_body},
            #{item.request_type},
            #{item.content_type},
            #{item.request_headers},
            #{item.request_configs}
            )
        </foreach>
    </insert>

    <update id="Upd" parameterType="java.util.List" >
        <foreach collection="list" item="item" index="index" open="" close="" separator=";">
            update request_case
            <set >
                <if test="item.case_name != null" >
                    case_name = #{item.case_name,jdbcType=VARCHAR},
                </if>
                <if test="item.url != null" >
                    url = #{item.url,jdbcType=VARCHAR},
                </if>
                <if test="item.request_body != null" >
                    request_body = #{item.request_body,jdbcType=VARCHAR},
                </if>
                <if test="item.request_type != null" >
                    request_type = #{item.request_type,jdbcType=VARCHAR},
                </if>
                <if test="item.content_type != null" >
                    content_type = #{item.content_type,jdbcType=VARCHAR},
                </if>
                <if test="item.request_headers != null" >
                    request_headers = #{item.request_headers,jdbcType=VARCHAR},
                </if>
                <if test="item.request_configs != null" >
                    request_configs = #{item.request_configs,jdbcType=VARCHAR},
                </if>
            </set>
            where case_id = #{item.case_id,jdbcType=BIGINT}
        </foreach>
    </update>
</mapper>