<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.qingquanlv.testflow_service_api.mapper.VerificationCaseMapper">
    <resultMap id="VerificationCase" type="com.github.qingquanlv.testflow_service_api.entity.testflow_service_db.VerificationCase">
        <result column="case_id" jdbcType="BIGINT" property="case_id" />
        <result column="case_name" jdbcType="VARCHAR" property="case_name" />
        <result column="verification_type" jdbcType="VARCHAR" property="verification_type" />
        <result column="parameters" jdbcType="VARCHAR" property="parameters" />
        <result column="datachanged_lasttime" jdbcType="TIMESTAMP" property="datachanged_lasttime" />
    </resultMap>

    <select id="Sel" parameterType="java.lang.String" resultType="com.github.qingquanlv.testflow_service_api.entity.testflow_service_db.VerificationCase">
        SELECT * FROM verification_case where case_name = #{name}
    </select>

    <select id="SelList"  resultType="com.github.qingquanlv.testflow_service_api.entity.testflow_service_db.VerificationCase">
        SELECT * FROM verification_case
        where case_id in
        <foreach collection="collection" index="index" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>

    <select id="SelOne" resultType="com.github.qingquanlv.testflow_service_api.entity.testflow_service_db.VerificationCase">
        SELECT * FROM verification_case where case_id = #{id}
    </select>

    <delete id="Del" >
        DELETE FROM database_case
        where case_id in
        <foreach collection="collection" index="index" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </delete>

    <insert id="Ins" parameterType="java.util.List" useGeneratedKeys="true" keyColumn="case_id" keyProperty="case_id">
        insert into verification_case
        ( case_name,verification_type,parameters)
        values
        <foreach collection="list" item="item" index="index" separator=",">
            (
                #{item.case_name},
                #{item.verification_type},
                #{item.parameters}
            )
        </foreach>
    </insert>

    <update id="Upd" parameterType="java.util.List" >
        <foreach collection="list" item="item" index="index" open="" close="" separator=";">
            update verification_case
            <set >
                <if test="item.case_name != null" >
                    case_name = #{item.case_name,jdbcType=VARCHAR},
                </if>
                <if test="item.verification_type != null" >
                    url = #{item.verification_type,jdbcType=VARCHAR},
                </if>
                <if test="item.parameters != null" >
                    url = #{item.parameters,jdbcType=VARCHAR},
                </if>
            </set>
            where case_id = #{item.case_id,jdbcType=BIGINT}
        </foreach>
    </update>
</mapper>